{% extends 'base.html' %} 

{% block content %}
  <h1 class="text-center mb-3"> Registration </h1>
  <head>
    <meta charset="utf-8">
    <title>Python Django Registration App</title>

    <style type="text/css">
        body {
           background-color: lightgray;
        }
        th {
           text-align: center;
        }
        p {
<!--           background-image: url("background 1.jpg");-->
        }       
    </style>
    
  </head>
   
  <body>   
    <div class="container">
      <div class="header">
        <nav>
        </nav>
          <h3 class="text-muted">Welcome</h3>
      </div>
   
      <div class="jumbotron">
        <h5>Click the link below for registration or user login </h5>
        <p>
        <p class="lead"></p>
        <a href="signup">User Sign Up</a> 

        </p>

        <p>
        <p class="lead"></p>
        <a href="login">User Login</a> 

        </p>
      </div>
 
    </div>

</body>


<footer class="footer">
  <p>&copy; by Yannick Ilunga 2019</p>
</footer>

{% endblock %}


