<!DOCTYPE html>
<html>

<head>
    <title>My first web page</title>

    <style type="text/css">
        body {
           background-color: lightgray;
        }
        th {
           text-align: left;
        }
        p {
<!--           background-image: url("background 1.jpg");-->
        }       
    </style>
</head>

<body>
    <!-- Below is the form dicussed in the PDF for this task. Nothing will
        happen at this stage when you submit this form in the browser. Remember that HTML only 
        tells the browser what to display. You can't use HTML to write code that performs logic!
        You will soon learn to write code using JavaScript. Then you will be able to write the code 
        that handles the logic of what you want to do with the information that the user enters into 
        a form.-->

    <form action="result.html" method="GET">

        <label>Email or Mobile Number:</label>
        <input type="text"><br>
        <label>Password:</label>
        <input type="text"><br>

        <p>
        <input type="submit" value="Login" <a ref="result"</a>
        </p>

    </form>
</body>

</html>
